@model AppTutorias.Models.SuperAdmin.Docente.docente

<div class="contenedorPerfil">
    <div class="perfil">
        <a class="btnCerrar" onclick="PerfilDocente()"><i class="fas fa-times"></i></a>
        <h2>
            Editar Informaci&oacute;n Personal
        </h2>

        <div class="contInfo">

            <div class="Info">
                <label>Nombres</label>
                <h3 id="tnombre">@Model.Nombre @Model.NombreDos</h3>
                <label>Cedula</label>
                <h3 id="tcedula">@Model.Cedula</h3>
                <label>Email</label>
                <h3 id="temail">@Model.Email</h3>
            </div>
            <div class="Info">
                <label>Apellido</label>
                <h3 id="tapellido"> @Model.Apellido @Model.ApellidoDos</h3>
                <label>Celular</label>
                <input id="editCelular" value="@Model.Celular" />
            </div>
        </div>
        <button class="boton" onclick="ActualizarPerDocente()">Guardar</button>


    </div>


</div>
