
@model List<AppTutorias.Models.SuperAdmin.Carrera.carrera>

<style>
	.loadUpdate {
		display: none;
		justify-content: center;
	}
</style>


<div class="container-admin">
	<img src="~/Content/img/fondo_1.jpg" alt="" width="100%;">
	<h3>Carrera</h3>
	<p>Ingresa, actualiza o elimina las Carreras actuales de la Universidad</p>
	<br />
	<div class="form-carrera">
		<ul class="list-inline">
			<li>
				<label for="">Facultad</label><br />
				<select name="facultad" id="codigoFacultadCarrera">
					<option name="facultad" value="FICA">FICA</option>
				</select>
			</li>
			<li>
				<label for="">Codigo Carrera</label><br />
				<input type="text" id="codigoCarrera">
			</li>
			<li>
				<label for="">Ingrese Carrera</label><br />
				<input type="text" id="nombreCarrera">
			</li>
			<li>
				<button onclick="ingresarCarrera()" class="success">Ingresar</button>
			</li>
			<li>
				<span id="loadInsertCarrera" class="loadUpdate" style="color:#fff;"><i class="fas fa-spinner fa-spin"></i> Ingresando...</span>
			</li>
		</ul>
	</div>
	<div class="table-carrera">
		<br />
		<h4>Tabla de Carreras Actuales</h4>
		<table>
			<thead>
				<tr>
					<th>Nombre Facultad</th>
					<th>Cod Carrera</th>
					<th>Nombre Carrera</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody id="tablaCarrera">
				@foreach (var consulta in Model)
				{
					<tr>
						<td>@consulta.CodigoFacultad</td>
						<td>@consulta.CodigoCarrera</td>
						<td>@consulta.NombreCarrera</td>
						<td><a onclick="confEliminarCarrera(this)" id="@consulta.CodigoCarrera">Eliminar</a></td>
						<td><a onclick="editarCarrera(this)" id="@consulta.CodigoCarrera">Actualizar</a></td>
					</tr>
				}

			</tbody>

		</table>
	</div>

</div>
<!-- PANEL EDICION DE CAMPOS -->
<div class="panel-edit" id="editCarrera">
	<h3><i class="fas fa-pen-square"></i> Editar Carrera</h3>
	<ul>

		<li>
			<label>Codigo Carrera</label>
			<input type="text" id="codigoCarreraEdit">
		</li>
		<li>
			<label>Nombre Carrera</label>
			<input type="text" id="nombreCarreraEdit">
		</li>
	</ul>
	<ul class="list-inline  ">
		<li><button onclick="ingresarEditCarrera()">Aceptar <i class="fas fa-check"></i></button></li>
		<li><button onclick="btnCerrarEditCarrera()">Cancelar <i class="fas fa-times-circle"></i></button></li>
	</ul>
	<br />
	<div id="loadUpdateCarrera" class="loadUpdate">
		<span><i class="fas fa-spinner fa-spin"></i> Actualizando...</span>
	</div>
</div>


<div id="btnConfirmarCarrera" class="container-confirmacion">
	<div>
		<h4>¿Está seguro que desea eliminar la Carrera seleccionada?</h4>
		<br />
		<button class="btnSi" id="btnSiCarrera">SI</button>
		<button class="btnNo" id="btnNoCarrera">NO</button>
		<br />
		<span id="loadDeleteCarrera" class="loadUpdate"><i class="fas fa-spinner fa-spin"></i> Eliminando...</span>

	</div>


</div>


<script>

	///CONFIRMACIONES
	var cod = "";
	function confEliminarCarrera(codigo) {

		$('#loadDeleteCarrera').css('display', 'none');
		$('#btnConfirmarCarrera').css('display', 'flex');

		cod = codigo.id;


	}

	$('#btnSiCarrera').on('click', function () {
		
		eliminarCarrera(cod);

		cod = "";
	});

	$('#btnNoCarrera').on('click', function () {


		$('#btnConfirmarCarrera').css('display', 'none');
		cod = "";
	});


	///CARRERA



	function ingresarCarrera() {

		$('#loadInsertCarrera').css('display', 'flex');

		var carrera = {
			CodigoFacultad: $("#codigoFacultadCarrera").val(),
			NombreCarrera: $("#nombreCarrera").val(),
			CodigoCarrera: $("#codigoCarrera").val()
		};


		$.ajax({
			url: "/SuperAdmin/ingresarCarrera",
			data: JSON.stringify(carrera),
			type: "POST",
			contentType: "application/json;charset=utf-8",
			dataType: "json",
			success: function (listaCarrera) {

				$("#tablaCarrera").empty();


				var d;
				var a = 0;
				for (var i = 0; i < listaCarrera.length; i++) {


					d += '<tr>' +
						'<td>' + listaCarrera[i].CodigoFacultad + '</td>' +
						'<td>' + listaCarrera[i].CodigoCarrera + '</td>' +
						'<td>' + listaCarrera[i].NombreCarrera + '</td>' +
						'<td>' + '<a type="button"  onclick="confEliminarCarrera(this)" id="' + listaCarrera[i].CodigoCarrera + '"></i> Eliminar</a>' + '</td>' +
						'<td>' + '<a type="button"  onclick="editarCarrera(this)" id="' + listaCarrera[i].CodigoCarrera + '"></i> Actualizar</a>' + '</td>' +
						'</tr>';

					a++;
				}

				$("#tablaCarrera").append(d);

				$("#nombreCarrera").val("");
				$("#codigoCarrera").val("");

				$('#loadInsertCarrera').css('display', 'none');
			},
			error: function () {

			}
		});
	}


	function eliminarCarrera(codigo) {

		
		$('#loadDeleteCarrera').css('display', 'flex');

		$.ajax({
			url: "/SuperAdmin/eliminarCarrera",
			data: JSON.stringify({ CodigoCarrera: codigo }),
			type: "POST",
			contentType: "application/json;charset=utf-8",
			dataType: "json",
			success: function (listaCarrera) {
				$("#tablaCarrera").empty();


				var d;
				var a = 0;
				for (var i = 0; i < listaCarrera.length; i++) {


					d += '<tr>' +
						'<td>' + listaCarrera[i].CodigoFacultad + '</td>' +
						'<td>' + listaCarrera[i].CodigoCarrera + '</td>' +
						'<td>' + listaCarrera[i].NombreCarrera + '</td>' +
						'<td>' + '<a type="button"  onclick="confEliminarCarrera(this)" id="' + listaCarrera[i].CodigoCarrera + '"></i> Eliminar</a>' + '</td>' +
						'<td>' + '<a type="button"  onclick="editarCarrera(this)" id="' + listaCarrera[i].CodigoCarrera + '"></i> Actualizar</a>' + '</td>' +
						'</tr>';

					a++;
				}

				$("#tablaCarrera").append(d);


				$('#loadDeleteFacu').css('display', 'none');
				$('#btnConfirmarCarrera').css('display', 'none');

			},
			error: function () {

			}
		});
	}


	function editarCarrera(codigo) {

		$("#editCarrera").css("display", "block");

		$.ajax({
			url: "/SuperAdmin/editarCarrera",
			data: JSON.stringify({ CodigoCarrera: codigo.id }),
			type: "POST",
			contentType: "application/json;charset=utf-8",
			dataType: "json",
			success: function (carrera) {

				$("#nombreCarreraEdit").val(carrera.NombreCarrera);
				$("#codigoCarreraEdit").val(carrera.CodigoCarrera);

			},
			error: function () {

			}
		});



	}


	function btnCerrarEditCarrera() {
		$("#editCarrera").css("display", "none");
		$("#nombreCarreraEdit").val("");
		$("#codigoCarreraEdit").val("");
	}


	//ingreso edit Ca♂4rera
	function ingresarEditCarrera() {

		$('#loadUpdateCarrera').css('display', 'flex');

		var carrera = {
			NombreCarrera: $("#nombreCarreraEdit").val(),
			CodigoCarrera: $("#codigoCarreraEdit").val()
		};


		$.ajax({
			url: "/SuperAdmin/ingresarCarrera",
			data: JSON.stringify(carrera),
			type: "POST",
			contentType: "application/json;charset=utf-8",
			dataType: "json",
			success: function (listaCarrera) {

				$("#tablaCarrera").empty();


				var d;
				var a = 0;
				for (var i = 0; i < listaCarrera.length; i++) {


					d += '<tr>' +
						'<td>' + listaCarrera[i].CodigoFacultad + '</td>' +
						'<td>' + listaCarrera[i].CodigoCarrera + '</td>' +
						'<td>' + listaCarrera[i].NombreCarrera + '</td>' +
						'<td>' + '<a type="button"  onclick="confEliminarCarrera(this)" id="' + listaCarrera[i].CodigoCarrera + '"></i> Eliminar</a>' + '</td>' +
						'<td>' + '<a type="button"  onclick="editarCarrera(this)" id="' + listaCarrera[i].CodigoCarrera + '"></i> Actualizar</a>' + '</td>' +
						'</tr>';

					a++;
				}



				$("#tablaCarrera").append(d);
				$("#editCarrera").css("display", "none");

				$("#nombreCarreraEdit").val("");
				$("#codigoCarreradEdit").val("");

				$('#loadUpdateCarrera').css('display', 'none');
			},
			error: function () {

			}
		});
	}

</script>