@model AppTutorias.Models.Estudiante.estudiante


<!-- MENU ESTUDIANTE -->
<!-- PERFIL ESTUDIANTE -->
<div class="title-container">
	<h3>Mi Perfil</h3>
	<h4>Hechale un vistazo a tu informacion personal</h4>
</div>
<div class="container-perfil-estudiante">


	<div class="group-info">
		<small>Nombres</small>
		<h4>@Model.Nombre @Model.NombreDos</h4>
	</div>
	<div class="group-info">
		<small>Apellidos</small>
		<h4>@Model.Apellido @Model.ApellidoDos</h4>
	</div>
	<div class="group-info">
		<small>Email</small>
		<h4>@Model.Email</h4>
	</div>
	<div class="group-info">
		<small>Celular</small>
		<h4>@Model.Celular</h4>
	</div>
	<div class="group-info">
		<small>Matricula</small>
		<h4>@Model.Matricula</h4>
	</div>
	<div class="group-info">
		<small>Carrera</small>
		<h4>@Model.NombreCarrera</h4>
	</div>
</div>

<!-- PERFIL ESTUDIANTE -->
